* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: aquamarine;
}

.navegacao {
    background-color: crimson;
}

.secao {
    background-color: blueviolet;
}

.rodape {
    background-color: coral;
}

.footer {
    background-color: darkgreen;
}