* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgb(20, 37, 32);
    color: antiquewhite;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacao {
    background-color: crimson;
}

.secao {
    background-color: blueviolet;
}

.rodape {
    background-color: coral;
}

.footer {
    background-color: darkgreen;
}